:local {
  .header {
    position: fixed;
    background-color: black;
    width: 100%;
    z-index: 99;
    top: 0;
    .content {
      padding: 20px 0 15px;
      display: flex;
      .logo {
        background-color: white;
        color: black;
        border-radius: 25px;
        font-size: 1.25em;
        font-family: "Montserrat";
        font-weight: 900;
        padding: 10px;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      ul {
        display: flex;
        list-style: none;
      }
    }
  }
}
