:local {
  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease;
    .title {
      position: absolute;
      z-index: 2;
      font-size: 2em;
      transition: all 300ms ease;
    }
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 1;
      opacity: 0.3;
    }
    &:hover {
      transform: scale(0.95);
    }
  }
}
