html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #1a2033;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(26, 32, 51, 1) 50%, rgba(49, 60, 96, 1) 100%);
  color: white;
  min-width: 320px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: auto;
  width: calc(100% - 80px);
}

main {
  min-height: 80vh;
}

ul {
  padding: 0;
  list-style: none;
}
