:local {
  .background {
    min-height: 100vh;
    background-color: black;
    padding-top: 70px;
    position: relative;
    margin-bottom: 50px;
    .content {
      padding-top: calc(100vh - 50%);
      display: inline-block;
      text-align: center;
      h1 {
        font-size: 60px;
        margin-bottom: 20px;
        margin-left: 30px;
      }
      svg {
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        cursor: pointer;
        transition: transform 300ms ease;
        &:hover {
          transform: translateY(10px);
        }
      }
    }
    .image {
      position: absolute;
      right: 0;
      top: 0;
      filter: brightness(0.7);
      mix-blend-mode: luminosity;
    }
  }
}
